manifest.version=1
app.id=queue-manager
app.name=Queue Manager
app.version=${appVersion}
api.minimumVersion=1
api.maximumTestedVersion=23
api.targetStability=stable
api.experimentalCapabilitiesAccepted=false
app.exec=bin/queue-manager.sh
app.ui.mode=static
app.ui.entry=static/index.html
app.permissions=queue.read,queue.write
quota.data.bytes=0
quota.cache.bytes=0
